Repository playerony/weather-app: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write, prettier-package-json --write

more stuff
  .lintstagedrc
Due: none

next parts
  .eslintrc
  .github/workflows/ci-pipeline.yml
  package-lock.json
  package.json
  scripts/reinstall-deps.sh
  tsconfig.json
Due: prettier-package-json --write

Add typecheck
  package.json
Due: prettier-package-json --write

Configure test environment
  .eslintignore
  config-overrides.js
  jest.config.js
  package-lock.json
  package.json
  src/application/app/app.component.tsx
  src/application/app/app.spec.tsx
  src/application/index.ts
  src/index.tsx
  src/infrastructure/jest/mocks/local-storage.mock.ts
  src/infrastructure/jest/mocks/match-media.mock.ts
  src/infrastructure/jest/setup-tests.ts
  tsconfig.json
  tsconfig.paths.json
Due: eslint --cache --fix, prettier-package-json --write

run tests on CI
  .github/workflows/ci-pipeline.yml
Due: none

configure cypress
  .eslintignore
  .lintstagedrc
  cypress.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --cache --fix, prettier-package-json --write

tsconfig for cypress
  cypress/integration/details.spec.ts
  cypress/tsconfig.json
  package.json
Due: prettier-package-json --write

typecheck
  cypress/integration/details.spec.ts
Due: none

config
  cypress/integration/details.spec.ts
Due: none

reinstall deps
  package-lock.json
  package.json
  tsconfig.json
Due: prettier-package-json --write

🔧 Configure test environment (#2)
  .eslintignore
  .github/workflows/ci-pipeline.yml
  .lintstagedrc
  config-overrides.js
  cypress.json
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  cypress/tsconfig.json
  jest.config.js
  package-lock.json
  package.json
  src/application/app/app.component.tsx
  src/application/app/app.spec.tsx
  src/application/index.ts
  src/index.tsx
  src/infrastructure/jest/mocks/local-storage.mock.ts
  src/infrastructure/jest/mocks/match-media.mock.ts
  src/infrastructure/jest/setup-tests.ts
  tsconfig.json
  tsconfig.paths.json
Due: eslint --cache --fix, prettier-package-json --write

configure deployment
  .github/workflows/deploy-app.yml
Due: none

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-red-desert-0d73df403.yml
Due: none

update deploy-app script
  .github/workflows/azure-static-web-apps-red-desert-0d73df403.yml
  .github/workflows/deploy-app.yml
Due: none

🚀 Configure app deployment (#3)
  .github/workflows/deploy-app.yml
Due: none

Configure storybook
  .storybook/main.js
  .storybook/preview.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier-package-json --write

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-wonderful-forest-0533a5703.yml
Due: none

create ci script
  .github/workflows/azure-static-web-apps-wonderful-forest-0533a5703.yml
  .github/workflows/deploy-storybook.yml
Due: none

🔧 Configure storybook (#4)
  .github/workflows/deploy-storybook.yml
  .storybook/main.js
  .storybook/preview.js
  .storybook/webpack.config.js
  package-lock.json
  package.json
Due: eslint --cache --fix, prettier-package-json --write

Update README.md
  README.md
  package-lock.json
  package.json
Due: prettier-package-json --write

update package.json
  package.json
Due: prettier-package-json --write

📝 Update README.md (#5)
  README.md
  package-lock.json
  package.json
Due: prettier-package-json --write

Create required hooks and functions
  .eslintrc
  package-lock.json
  package.json
  src/infrastructure/index.ts
  src/infrastructure/persistence/axios.instance.ts
  src/infrastructure/persistence/index.ts
  src/infrastructure/persistence/storage-factory/storage-factory.function.ts
  src/infrastructure/persistence/storage-factory/storage-factory.spec.ts
  src/utils/functions/index.ts
  src/utils/functions/is-function/is-function.function.ts
  src/utils/functions/is-function/is-function.spec.ts
  src/utils/functions/is-string/is-string.function.ts
  src/utils/functions/is-string/is-string.spec.ts
  src/utils/functions/try-parse-json/try-parse-json.function.ts
  src/utils/functions/try-parse-json/try-parse-json.spec.ts
  src/utils/hooks/index.ts
  src/utils/hooks/use-debounce/use-debounce.hook.ts
  src/utils/hooks/use-debounce/use-debounce.spec.ts
  src/utils/hooks/use-get/use-get.hook.ts
  src/utils/hooks/use-get/use-get.spec.ts
  src/utils/hooks/use-get/use-get.types.ts
  src/utils/hooks/use-local-storage/use-local-storage.hook.ts
  src/utils/hooks/use-local-storage/use-local-storage.spec.ts
  src/utils/hooks/use-set-state/use-set-state.hook.ts
  src/utils/hooks/use-set-state/use-set-state.spec.ts
  src/utils/index.ts
  src/utils/jest/function-import-test.function.ts
  src/utils/jest/index.ts
Due: prettier-package-json --write

cleanup
  src/utils/hooks/use-get/use-get.hook.ts
Due: none

✨ Create required hooks and functions (#6)
  .eslintrc
  package-lock.json
  package.json
  src/infrastructure/index.ts
  src/infrastructure/persistence/axios.instance.ts
  src/infrastructure/persistence/index.ts
  src/infrastructure/persistence/storage-factory/storage-factory.function.ts
  src/infrastructure/persistence/storage-factory/storage-factory.spec.ts
  src/utils/functions/index.ts
  src/utils/functions/is-function/is-function.function.ts
  src/utils/functions/is-function/is-function.spec.ts
  src/utils/functions/is-string/is-string.function.ts
  src/utils/functions/is-string/is-string.spec.ts
  src/utils/functions/try-parse-json/try-parse-json.function.ts
  src/utils/functions/try-parse-json/try-parse-json.spec.ts
  src/utils/hooks/index.ts
  src/utils/hooks/use-debounce/use-debounce.hook.ts
  src/utils/hooks/use-debounce/use-debounce.spec.ts
  src/utils/hooks/use-get/use-get.hook.ts
  src/utils/hooks/use-get/use-get.spec.ts
  src/utils/hooks/use-get/use-get.types.ts
  src/utils/hooks/use-local-storage/use-local-storage.hook.ts
  src/utils/hooks/use-local-storage/use-local-storage.spec.ts
  src/utils/hooks/use-set-state/use-set-state.hook.ts
  src/utils/hooks/use-set-state/use-set-state.spec.ts
  src/utils/index.ts
  src/utils/jest/function-import-test.function.ts
  src/utils/jest/index.ts
Due: prettier-package-json --write

Configure styled-components
  package-lock.json
  package.json
  src/infrastructure/constants.ts
  src/infrastructure/styles/index.ts
  src/infrastructure/styles/mixins/index.ts
  src/infrastructure/styles/mixins/respond-to/__snapshots__/respond-to.spec.ts.snap
  src/infrastructure/styles/mixins/respond-to/respond-to.mixin.ts
  src/infrastructure/styles/mixins/respond-to/respond-to.spec.ts
  src/infrastructure/styles/mixins/respond-to/respond-to.types.ts
  src/infrastructure/styles/parts/global-styles.component.tsx
  src/infrastructure/styles/parts/index.ts
  src/infrastructure/styles/parts/reset-styles.component.tsx
  src/infrastructure/styles/theme/index.ts
  src/infrastructure/styles/theme/theme.config.ts
  src/infrastructure/styles/theme/theme.types.ts
  src/infrastructure/styles/variables/colors.ts
  src/infrastructure/styles/variables/device-breakpoint.ts
  src/infrastructure/styles/variables/index.ts
  src/infrastructure/styles/variables/typography.ts
  src/utils/jest/index.ts
  src/utils/jest/to-match-snapshot.function.ts
Due: prettier-package-json --write

update eslintignore
  .eslintignore
Due: none

typecheck
  package.json
  src/infrastructure/index.ts
  src/types.d.ts
Due: prettier-package-json --write

parts -> atoms
  src/infrastructure/styles/atoms/global-styles.component.tsx
  src/infrastructure/styles/atoms/index.ts
  src/infrastructure/styles/atoms/reset-styles.component.tsx
  src/infrastructure/styles/index.ts
Due: none

theme provider
  .eslintrc
  src/application/app/app.component.tsx
  src/application/context/app-provider/app-provider.component.tsx
  src/application/context/app-provider/app-provider.types.ts
  src/application/context/index.ts
  src/application/context/theme-provider/theme-provider.component.tsx
  src/application/context/theme-provider/theme-provider.types.ts
  src/infrastructure/styles/mixins/respond-to/__snapshots__/respond-to.spec.ts.snap
Due: none

update-snapshot command
  README.md
  package.json
  src/infrastructure/styles/mixins/respond-to/__snapshots__/respond-to.spec.ts.snap
Due: prettier-package-json --write

🔧 Configure styled-components (#7)
  .eslintignore
  .eslintrc
  README.md
  package-lock.json
  package.json
  src/application/app/app.component.tsx
  src/application/context/app-provider/app-provider.component.tsx
  src/application/context/app-provider/app-provider.types.ts
  src/application/context/index.ts
  src/application/context/theme-provider/theme-provider.component.tsx
  src/application/context/theme-provider/theme-provider.types.ts
  src/infrastructure/constants.ts
  src/infrastructure/index.ts
  src/infrastructure/styles/atoms/global-styles.component.tsx
  src/infrastructure/styles/atoms/index.ts
  src/infrastructure/styles/atoms/reset-styles.component.tsx
  src/infrastructure/styles/index.ts
  src/infrastructure/styles/mixins/index.ts
  src/infrastructure/styles/mixins/respond-to/__snapshots__/respond-to.spec.ts.snap
  src/infrastructure/styles/mixins/respond-to/respond-to.mixin.ts
  src/infrastructure/styles/mixins/respond-to/respond-to.spec.ts
  src/infrastructure/styles/mixins/respond-to/respond-to.types.ts
  src/infrastructure/styles/theme/index.ts
  src/infrastructure/styles/theme/theme.config.ts
  src/infrastructure/styles/theme/theme.types.ts
  src/infrastructure/styles/variables/colors.ts
  src/infrastructure/styles/variables/device-breakpoint.ts
  src/infrastructure/styles/variables/index.ts
  src/infrastructure/styles/variables/typography.ts
  src/types.d.ts
  src/utils/jest/index.ts
  src/utils/jest/to-match-snapshot.function.ts
Due: prettier-package-json --write

Define useful atoms
  .eslintrc
  .storybook/preview.js
  package-lock.json
  package.json
  src/infrastructure/styles/theme/theme.config.ts
  src/infrastructure/styles/theme/theme.types.ts
  src/ui/atoms/big-heading/big-heading.component.tsx
  src/ui/atoms/big-heading/big-heading.stories.mdx
  src/ui/atoms/big-heading/big-heading.styles.ts
  src/ui/atoms/button/button.component.tsx
  src/ui/atoms/button/button.stories.mdx
  src/ui/atoms/button/button.styles.ts
  src/ui/atoms/button/button.types.ts
  src/ui/atoms/index.ts
  src/ui/atoms/input/input.component.tsx
  src/ui/atoms/input/input.stories.mdx
  src/ui/atoms/input/input.styles.ts
  src/ui/atoms/input/input.types.ts
  src/ui/atoms/label/label.component.tsx
  src/ui/atoms/label/label.stories.mdx
  src/ui/atoms/label/label.styles.ts
  src/ui/atoms/label/label.types.ts
  src/ui/atoms/loader/loader.component.tsx
  src/ui/atoms/loader/loader.stories.mdx
  src/ui/atoms/loader/loader.styles.ts
  src/ui/atoms/loader/loader.types.ts
  src/ui/index.ts
Due: eslint --cache --fix, prettier-package-json --write

cleanup
  src/infrastructure/styles/theme/theme.config.ts
  src/infrastructure/styles/theme/theme.types.ts
  src/ui/atoms/label/label.styles.ts
Due: none

define domain layer
  src/application/app/app.component.tsx
  src/application/pages/dashboard-page/dashboard-page.component.tsx
  src/application/pages/index.ts
  src/domain/dashboard/dashboard.component.tsx
  src/domain/index.ts
Due: none

improve one import
  .storybook/preview.js
  src/application/index.ts
Due: eslint --cache --fix

💄 Create required atoms (#8)
  .eslintrc
  .storybook/preview.js
  package-lock.json
  package.json
  src/application/app/app.component.tsx
  src/application/index.ts
  src/application/pages/dashboard-page/dashboard-page.component.tsx
  src/application/pages/index.ts
  src/domain/dashboard/dashboard.component.tsx
  src/domain/index.ts
  src/ui/atoms/big-heading/big-heading.component.tsx
  src/ui/atoms/big-heading/big-heading.stories.mdx
  src/ui/atoms/big-heading/big-heading.styles.ts
  src/ui/atoms/button/button.component.tsx
  src/ui/atoms/button/button.stories.mdx
  src/ui/atoms/button/button.styles.ts
  src/ui/atoms/button/button.types.ts
  src/ui/atoms/index.ts
  src/ui/atoms/input/input.component.tsx
  src/ui/atoms/input/input.stories.mdx
  src/ui/atoms/input/input.styles.ts
  src/ui/atoms/input/input.types.ts
  src/ui/atoms/label/label.component.tsx
  src/ui/atoms/label/label.stories.mdx
  src/ui/atoms/label/label.styles.ts
  src/ui/atoms/label/label.types.ts
  src/ui/atoms/loader/loader.component.tsx
  src/ui/atoms/loader/loader.stories.mdx
  src/ui/atoms/loader/loader.styles.ts
  src/ui/atoms/loader/loader.types.ts
  src/ui/index.ts
Due: eslint --cache --fix, prettier-package-json --write

Create base routing
  .prettierignore
  package-lock.json
  package.json
  src/application/app/app.component.tsx
  src/application/context/app-provider/app-provider.component.tsx
  src/application/context/theme-provider/theme-provider.component.tsx
  src/application/layout/index.tsx
  src/application/layout/primary-background/primary-background.layout.tsx
  src/application/layout/primary-background/primary-background.styles.ts
  src/application/pages/content/dashboard-page/dashboard-page.component.tsx
  src/application/pages/content/index.ts
  src/application/pages/error/404/404.component.tsx
  src/application/pages/error/index.ts
  src/application/pages/index.ts
  src/application/routing/routing.component.tsx
  src/application/routing/routing.config.ts
  src/domain/error/error.component.tsx
  src/domain/error/error.stories.mdx
  src/domain/error/error.types.ts
  src/domain/index.ts
  src/ui/index.ts
  src/ui/layout/center-block/center-block.layout.tsx
  src/ui/layout/center-block/center-block.styles.ts
  src/ui/layout/index.ts
Due: prettier-package-json --write

rename variable
  src/application/routing/routing.component.tsx
  src/application/routing/routing.config.ts
Due: none

Path conditions:
  eslint --cache --fix: any of: *.js
  prettier --write: any of: *.src/**/*
  prettier-package-json --write: any of: package.json
